@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/fontHelvatica.css")" rel="stylesheet" />
<link href="~/Content/home.css" rel="stylesheet" />
<link rel="stylesheet" href='@Url.Content("~/Content/bootstrap.min.css")'>
<div id="home">
    <div class="divcontent text-center">
        <div class="divstyle border-radius">
            <img src="@Url.Content("~/Images/LOGO POinS-Huong(2)-05.png")" class="img1-mobile" /><br />
            <p style="font-family:Roboto-Medium">Your Consumer Marketing App</p>
            <a href="javascript:void(0)" title="App Store">
                <div class="divchil font-1">
                    <img src="@Url.Content("~/Images/iconIOS.png")" />
                    <div>
                        Download on the<br />
                        <span style="font-size:150%; font-family:Roboto-Regular">App Store</span>
                    </div>
                </div>
            </a>    
            <a href="javascript:void(0)" title="Google Play">
                <div class="divchil font-1" style="margin-left:3%">
                    <img src="@Url.Content("~/Images/Google Play Icon.png")" />
                    <div>
                        Get it on<br />
                        <span style="font-size:150%; font-family: Roboto-Regular">Google Play</span>
                    </div>
                </div>
            </a> 
        </div>
    </div>
    <div class="divcontent2">
        <div class="divstyle2 col-10 text-center ">
            <div class="content2-left">
                <p style="font-family:Apple Chancery">
                    Drive<br />
                   Sales Further
                </p>
                <a href="javascript:void(0)" title="App Store">
                    <div class="divchil2 font-1" style="margin-bottom:8%">
                        <img src="@Url.Content("~/Images/iconIOS.png")"/>
                        <div>
                            Download on the<br />
                            <span style="font-size:120%; font-family:Roboto-Regular">App Store</span>
                        </div>
                    </div>
                </a> 
                <a href="javascript:void(0)" title="Google Play">
                    <div class="divchil2 font-1" style="margin-left:3%;">
                        <img src="@Url.Content("~/Images/Google Play Icon.png")" />
                        <div>
                            Get it on<br />
                            <span style="font-size:120%; font-family:Roboto-Regular">Google Play</span>
                        </div>
                    </div>
                </a> 
            </div>
            <div class="content2-right">
                <img src="@Url.Content("~/Images/10-4.jpg")" style="width:100%;" class="desktop"/>
                <img src="@Url.Content("~/Images/10-3.jpg")" style="width:100%;" class="mobile"/>
            </div>
            <div class="content2-right">
                <div>
                    POinS redefines retail marketing. With its marketing centric capabilities and
                    cloud-based 24/7 accessibility, you can now create your own promotions and 
                    deliver them via push notifications directly into your customers' phones for 
                    immediate results! What's more, e-coupons can also be generated for 
                    special deals or sales promotions to make it even easier for your
                    customers to purchase.         
                </div>           
            </div>  
            <div class="content2-left">
                <img src="@Url.Content("~/Images/rawpixel-com-256641.jpg")"  style="width:100%;"/>
            </div>
            
        </div>
    </div>
    <div class="divcontent3">
        <div class="divstyle3 text-center">
            <div class="divtitle" >
                <p style="font-family:Apple Chancery">Delight Your Customers Like Never Before</p>
            </div>
            <div class="clear"></div>
            <div class="conten">
                POinS is an electronic wallet with your digital membership card. Membership
                details are stored in the cloud and unlocked with a unique QR code.
                Customers can now browse, select and book appointments on-the-go
                even if they forget to bring their membership cards.
            </div>
            <div class="clear"></div>        
        </div>
    </div>
    <div class="divcontent4">
        <div class="clear"></div>
        <div class="borderdasheltop"></div>
        <div class="divstyle4 col-10">
            <div class="divborder">
                <div class="leftdiv">
                    <img src="@Url.Content("~/Images/2.0.png")" class="desktop" />
                    This revolutionary CRM solution can be integrated with
                    third-party POS systems to enable merchants to interact
                    and connect with their customers in areas such as:
                    <ul>
                        <li> Online purchase, delivery and e-payments</li>
                        <li> Purchase history and e-receipts</li>
                        <li> Virtual Queue and appointment management</li>
                        <li> Reservations / Bookings for services</li>
                        <li> Merchant info page and social media link</li>
                        <li> Marketing and promotion events & notifications</li>
                        <li> E-promotion discount vouchers</li>
                        <li> E-membership cards</li>
                        <li> E-stored-value cards</li>
                        <li> Loyalty and rewards management</li>
                    </ul>
                    <img src="@Url.Content("~/Images/2.0.png")" class="mobile" />
                </div>
            </div>
        </div>
        <div class="borderdashelbot"></div>
    </div>  
    <div class="divcontent5">        
        <center>
            <div class="divstyle5">
                <span style="font-family:Apple Chancery">On-target Marketing<br /></span>
                <div class="chil5">
                    Built to deliver results, POinS makes it easier to manage your loyalty program
                    through its membership management module with its user-friendly interface and 
                    enhanced security. Experience incredible marketing results with precise,
                    real-time push notifications that are targeted to your customers at
                    timings that deliver the best sales results.
                </div>
            </div>
            <div class="divicon">
                <img src="@Url.Content("~/Images/LOGO-POinS.png")" alt="CSC">
                <img src="@Url.Content("~/Images/LOGOPOinSLink.png")" alt="CSC" style="margin-left:10%">
            </div>
        </center>
    </div>
</div>